<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Simple Social Network Website</title>

    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- MEDIUM STYLE EDITOR -->
        <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">


      <ul class="nav navbar-nav">
        <li><a class='navbar-brand bigbrand' href="{% url 'home' %}">Simple Social Network</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li>
            <a href="#" >Post</a>
          </li>
          <li>
            <a href="#">Groups</a>
          </li>
          <li>
            <a href="#">Create Groups</a>
          </li>
          <li>
            <a href="{% url 'accounts:logout' %}" >Log out</a>
          </li>
          <li>
            <a >Welcome: {{ user.username }}</a>
          </li>
        {% else %}
          <li><a class='nav navbar-right' href="{% url 'accounts:login' %}" ><span class="glyphicon glyphicon-user"></span></a></li>
          <li>
            <a href="{% url 'accounts:signup' %}" >Sign Up</a>
          </li>
        {% endif %}

      </ul>
  </div>
</nav>


    {% block content %}

    {% endblock %}

  </body>
</html>
